* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(99,133,255,1) 70%);

  // background-image: url("../public/bg-chunks.jpg");
  // background-size: cover;
}

/* h1 h2 h3 h4 h5 h6 { */
/* margin: 5px, 0, 5px, 0 */
/* margin: 0; */
/* } */

@media screen and (min-width: 500px){ 
  .category-header {
    width: fit-content;
  }
  .subcategory-header {
    width: fit-content;
  }
}