.welcome-main {
  height: 100vh;
  width: 100vw;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.main-title {
  margin: 0;
  font-weight: 900;
  letter-spacing: -4.5px;
  font-style: italic;
  font-size: 85px;
  margin-bottom: 12px;
  z-index: 1000;
}

.tri-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

[alt="tri"] {
  height: 223px;
  position: absolute;
  padding-bottom: 35px;
}

.how-to h2 {
  /* margin-left: 5px; */
  margin: 5px, 0, 5px, 0;
  padding: 12px;
}

#enter-username {
  /* background-color: red; */
}

#enter-username-label {
  display: block !important;
  color: #666666 !important;
  font-size: 16px !important;
  border: none;
  border-radius: 0;
  text-align: start;
  background-color: transparent;
  width: 100%;
}

.how-to {
  img {
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
  }
  p{
    font-size: 14px;
    margin-top: 3px;
  }
}