@font-face {
  font-family: "LuckiestGuy";
  src: local("LuckiestGuy"),
    url("../../fonts/LuckiestGuy.ttf") format("truetype");
}

.game-main {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/bg-chunks.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board-main {
  width: 100%;
  min-height: 530px;
  // height: 517px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  // margin-top: 12px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.game-header {
  // border-bottom: solid 2px black;
  width: 98%;
  height: 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-left: 10px;
  padding-bottom: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 3px;
}

.category-header {
  // font-size: 23px;
  width: 120px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subcategory-header {
  width: 172px;
  font-size: 20px;
  font-weight: 700;
}
.clock-header {
  width: 32px;
}

.game-board-inner {
  display: flex;
  justify-content: center;
  // flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
  margin-top: 3%;
}
.game-board-inner-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.podium-navigate {
  display: flex;
  justify-content: space-between;
}
.podium-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 98%;
  height: 12%;
  // margin-top: 4px;
  // margin-bottom: 10px;
  // padding-bottom: 18px;
  // border-bottom: solid 1px black;
}
.podium-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 460px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  margin-top: 0;
}
.podium-list-item {
  border: "1px solid black";
  overflow: "hidden";
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.podium-list-withpoint {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.round-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 0;
  }
}
.round-box {
  margin-bottom: 40px;
}

.alpha-row {
  // font-family: 'Courier New', Courier, monospace;
  font-family: "LuckiestGuy";
  color: #e6e6f6;
  text-shadow:
  rgb(136, 136, 136) -0.5px -1.5px 0.5px,
  rgb(28, 28, 28) -2px -1.5px 1px,
  #000 -2.5px 1.5px 0,
  rgb(186, 186, 186) 1px 1px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.alpha-row.results {
  width: 100%;
}
.alpha-row.game {
  width: fit-content;
}

.alpha2.results {
  width: 90%;
}

.alpha-item h2 {
  margin-top: 3px;
    margin-bottom: 3px;
    font-size: 33px;
  // font-weight: 900;
  height: 28px;
  display: flex;
}
.alpha-item {
  height: 100%;
}
.alpha-item.results-phase {
  display: inline-block;
  height: 100%;
  width: 100%;
}
////////////////////////////////////////////////////
//// GAME CLOCK
////////////////////////////////////////////////////

.game-clock {
  height: 24vh;
  width: 24vh;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 66px;
  // margin-bottom: 1%;
  // margin-top: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 5px solid black;
  // border-radius: 50%;
}
.game-clock-inner {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 50%;
  box-shadow: 1.5px 0.5px 7px rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.game-clock-counter {
  text-shadow: 1px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1.5px #000,
    4.5px 1px 2px rgb(160, 160, 160);
}

.results-clock {
  text-shadow: -1px -1px 0.5px #000, 1px -1px 0.5px #000, -1px 1px 0.5px #000,
    1px 1px 0.5px rgb(86, 86, 86);
}

// /////////////////////////////////////////////

.status-box {
  width: 100%;
  padding-bottom: "2px";
  /* max-height: 310px; */
  // height: 313px;
  // height: 55%;
  height: 51%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-list {
  list-style-type: none;
  margin: 0px;
  padding-left: 10px;
  height: 100%;
}

.purple {
  color: #8a2eff;
}
.green {
  color: #4bab2f;
}
.teal {
  color: #72d695;
}
.darkgoldenrod {
  color: #fdbe00;
}
.blue {
  color: #52b5ff;
}
.red {
  color: #c61234;
}
.slateblue {
  color: #621dff;
}
.yellow {
  color: #fff600;
}
.lightcyan {
  color: #008bff;
}
.orange {
  color: #ff8638;
}
.cornflowerblue {
  color: #99ffd8;
}
.darkorange {
  color: #e14400;
}
.plum {
  color: #ffbb87;
}

.orchid {
  color: #ff64aa;
}

@media only screen and (min-width: 500px) {
  .category-header {
    width: fit-content;
  }
  .subcategory-header {
    width: fit-content;
  }
  .game-board-inner {
    margin-top: 1.5%;
  }
}
